<% layout('layouts/boilerplate') %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6" style="background-color: #e0f7fa;">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <h1 class="display-4">EDUTRACK</h1>
                <img src="https://img.freepik.com/free-vector/online-tutorials-concept_52683-37480.jpg" alt="EduTrack Image" class="img-fill"> 
            </div>
        </div>
        <div class="col-md-6" style="background-color: #fff;">
            <div class="d-flex flex-column align-items-center justify-content-center h-100">
                <h2 class="mb-4">Login</h2>
                <form action="/login" method="POST" class="validated-form" novalidate>
                    <div class="mb-3">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" type="email" id="email" name="email" autofocus required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" type="password" id="password" name="password" required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <button class="btn btn-primary btn-lg btn-block mb-3">Login</button>
                    <p class="text-muted">Don't have an account? <a href="/register">Register here</a></p>
                    <p class="text-center">OR</p>
                    <div  class="mb-3">
                        <button type="button" class="btn btn-outline-secondary btn-block">
                            <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google Logo"> Sign up with Google
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
